:root {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: arial;
	overflow-x: hidden;
	position: relative;
	width: 100vw;
}
hr {
	width: 200px;
	border-top: 3px solid #333;
	margin-bottom: 20px;
}

/* navbar */

nav {
	width: 100vw;
	height: 50px;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 99;
}
nav .logo {
	font-size: 1.1rem;
}
nav a {
	color: #ddd;
	text-decoration: none;
}
nav .teks {
	display: none;
}

/* ul */

nav ul {
	display: flex;
	transition: 400ms transform;
}
nav ul li {
	list-style: none;
	margin-left: 20px;
	font-size: 0.95rem;
}
nav ul li a:hover {
	color: #fff;
}

/* responsip ul */

@media screen and (max-width: 600px) {
	nav {
		width: 50px;
		right: 0;
		border-radius: 7px;
	}
	nav ul {
		width: 50vw;
		height: 100vh;
		position: absolute;
		flex-direction: column;
		top: 0;
		right: 0;
		background-color: #333;
		align-items: center;
		padding-top: calc(50px + 50px);
		transform: translateX(100%);
	}
	nav ul li {
		margin-bottom: 30px;
	}
	nav .teks {
		position: absolute; 
		width: 100px; 
		height: 100%; 
		background-color: #333; 
		right: 0; 
		display: flex; 
		justify-content: flex-start; 
		align-items: center; 
		padding-left: 20px; 
		color: #ddd; 
		border-radius: 10px;
	}
}

/* menu */

nav .menu {
	width: 40px;
	height: 40px;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
	background-color: #333;
}
nav .menu:hover.menu span{
	background: white;
}
nav span {
	display: block;
	width: 60%;
	height: 3px;
	background-color: #ddd;
	border-radius: 5px;
}
nav .menu .layer {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: red;
	opacity: 0;
}

/* responsip menu */

@media screen and (max-width: 600px) {
	nav .menu {
		display: flex;
	}
}

/* akhir navbar */

/* gambar gede */

.gambar-gede {
	width: 100vw;
	height: 100vh;
	background-image: url(5.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	background-attachment: fixed;
}

/* akhir gambar gede */

/* oleh */

.oleh {
	min-height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.oleh .konten {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #333;
	margin: auto;
}
.oleh h2 {
	margin-bottom: 20px;
	font-size: 1.7rem;
	transition: 500ms;
}
.oleh ul {
	margin-top: 20px;
	font-size: 1.3rem;
	transition: 500ms;
}

/* akhir oleh */

/* peta */

.peta {
	min-height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.peta .konten {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.peta .pala {
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 50px;
	transition: 300ms;
}
.peta .anak-judul {
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
/* pala */
.pala .judul {
	width: 50%;
	height: 70%;
	background-color: rgb(40, 167, 69);;
	display: flex;
	border-radius: 10px;
	padding: 0 20px;
	box-shadow: 1px 1px 1px 1px #333;
	text-shadow: 1px 1px 1px #333;
	text-align: center;
}
.pala h3 {
	margin: auto;
}
.pala h3 a {
	text-decoration: none;
	color: #eee;
}
.pala h3 a:hover {
	color: #fff;
}
/* anak judul */
.peta .anak-judul {
	display: flex;
	justify-content: space-evenly;
}
.peta .kotak {
	width: 27%;
	height: 70%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 1px 1px 1px 1px #333;
	text-shadow: 1px 1px 1px #333;
	transition: .4s;
}
.peta .kotak a {
	text-decoration: none;
	color: #eee;
}
.peta .kotak a:hover {
	color: #fff;
}
.peta .kotak.satu {background-color: red;}
.peta .kotak.dua {background-color: orange;}
.peta .kotak.tiga {background-color: rgb(0, 123, 255);}

/* akhir peta */

/* gambar poster */

.gambar-poster {
	width: 100vw;
	height: 100vh;
	background-image: url(3853584119.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/* akhir gambar poster */

/* artikel */

article {
	min-height: 600px;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #333;
}
article .judul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
article .judul h2, article .isi h4, article .isi p {
	margin-bottom: 20px;
}
article .isi {
	margin-top: 50px;
}

/* akhir artikel */

/* gambar poster 2 */

.gambar-poster-dua {
	width: 100vw;
	height: 100vh;
	background-image: url(1.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-attachment: fixed;
}

/* akhir gambar poster 2 */

/* ending */

.ending {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* skrip jawa */

.toggle {
	transform: translateX(0);
}
.judul-kiri {
	transform: translateX(-80px);
}
.nama-kanan {
	transform: translateX(85px);
}
.debus {
	transform: scale(0);
}
.opasiti {
	opacity: 0;
}